//responsive grid mixins

@mixin grid-row ($iterator) {
	flex-basis:$iterator + %;
	flex-grow:$m_unit_zero;
}

@mixin grid-responsive() {

	@for $i from 1 through $grid-cols {
		$iterator: ($m_unit_perc * $i / $grid-cols);
		&.w-#{$i} {
			@include grid-row ($iterator);
		}

		@include smx() {
			&.w-#{$i}-smx {
				@include grid-row ($iterator);
			}
		}

		@include sm() {
			&.w-#{$i}-sm {
				@include grid-row ($iterator);
			}
		}


		@include md() {
			&.w-#{$i}-md {
				@include grid-row ($iterator);
			}
		}

		@include lg() {
			&.w-#{$i}-lg {
				@include grid-row ($iterator);
			}
		}
	}
}
