//mediaqueries

@mixin smx  {
	@media screen and (max-width:$resp-bp-sm-x) {
		@content;
	}
}

@mixin sm {
	@media screen and (min-width:$resp-bp-sm-x) and (max-width:$resp-bp-md)  {
		@content;
	}
}

@mixin md  {
	@media screen and (min-width:$resp-bp-md) and (max-width:$resp-bp-lg)  {
		@content;
	}
}

@mixin lg  {
	@media screen and (min-width:$resp-bp-lg)  {
		@content;
	}
}

$media-queries-arr: (
	'smx',
	'sm',
	'md',
	'lg'
);


//responsive mix
@mixin responsive-mix($suffix){

	@each $type,$val in $visibility-array {
		.v-#{$val}-#{$suffix}{
			visibility: #{$type};
		}
	}
	@each $type,$val in $align-array {
		.txt-#{$val}-#{$suffix}{
			text-align: #{$type};
		}
	}
	@each $type in $valign-array {
		.valign-#{$type}-#{$suffix}{
			vertical-align:$type;
		}
	}
	@include display-suffix($suffix);
	@include fix-top-suffix($suffix);
	@include sz($suffix);
	@include txt-transform($suffix);
	@include opacity($suffix);
}
