//positioning mixins

// Mixin itself
@mixin clearfix() {
	&::before,
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

// To quickly centre a block element without having to worry about 
// if there is any top or bottom margin already applied.
@mixin push-auto {
	margin: {
		left: auto;
		right: auto; 
	}
}

//fixed to top
@mixin fixTop() {
	position: fixed;
	top: 0;
	left: 0;
	right:0;
}

@mixin flt-l {
	float: left !important;
}

@mixin flt-r {
	float: right !important;
}

@mixin flt-none {
	float: none !important;
}

