//animation css class prefix name
$m_animation_class_name: animation;

[class*='#{$m_animation_class_name}-'] {
	@include duration(1s);
	@include fill-mode(both);
}

.#{$m_animation_class_name}-fade-in {
	@include keyframes(fadeIn){
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@include animation-name(fadeIn);
}

.#{$m_animation_class_name}-fade-in-down {
	@include keyframes(fadeInDown){
		from {
			opacity: 0;
			transform: translate3d(0, -100%, 0);
		}
		to {
			opacity: 1;
    		transform: translate3d(0, 0, 0);
		}
	}
	@include animation-name(fadeInDown);
}

.#{$m_animation_class_name}-fade-in-left {
	@include keyframes(fadeInLeft){
		from {
			opacity: 0;
			transform: translate3d(-100%, 0, 0);
		}
		to {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
	@include animation-name(fadeInLeft);
}

.#{$m_animation_class_name}-fade-in-right {
	@include keyframes(fadeInRight){
		from {
			opacity: 0;
			transform: translate3d(100%, 0, 0);
		  }

		  to {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		  }
	}
	@include animation-name(fadeInRight);
}

.#{$m_animation_class_name}-fade-in-up {
	@include keyframes(fadeInUp){
		from {
			opacity: 0;
			transform: translate3d(0, 100%, 0);
		  }

		  to {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		  }
	}
	@include animation-name(fadeInUp);
}


.#{$m_animation_class_name}-rubberBand {
	@include keyframes(rubberBand){
		from {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		 }

		 30% {
			-webkit-transform: scale3d(1.25, 0.75, 1);
			transform: scale3d(1.25, 0.75, 1);
		 }

		 40% {
			-webkit-transform: scale3d(0.75, 1.25, 1);
			transform: scale3d(0.75, 1.25, 1);
		 }

		 50% {
			-webkit-transform: scale3d(1.15, 0.85, 1);
			transform: scale3d(1.15, 0.85, 1);
		 }

		 65% {
			-webkit-transform: scale3d(0.95, 1.05, 1);
			transform: scale3d(0.95, 1.05, 1);
		 }

		 75% {
			-webkit-transform: scale3d(1.05, 0.95, 1);
			transform: scale3d(1.05, 0.95, 1);
		 }

		 to {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		 }
	}
	@include animation-name(rubberBand);
}

