@each $color-name, $color-variants in $material-colors {

	@each $color-variant, $hex-value in $color-variants {
		
		.clr-#{$color-name}-#{$color-variant} *,
		.clr-#{$color-name}-#{$color-variant} *:hover,
		.clr-#{$color-name}-#{$color-variant}:hover,
		.clr-#{$color-name}-#{$color-variant} {
			color: #{$hex-value};
			border-color: #{$hex-value};
		}

		.clr-bg-#{$color-name}-#{$color-variant} {
			background-color: #{$hex-value};
		}

		.clr-brd-#{$color-name}-#{$color-variant} {
			border:solid 1px #{$hex-value};
		}
	}
}


@for $i from 0 through 100 {
	.shadow-box#{$i} {
		box-shadow: 0 2px #{$i}px rgba(0,0,0,.3);
	}
}