@import "core/config/_variables.scss";
@import "core/mixins/_mediaqueries";
@import "core/mixins/_positioning";



@for $i from 1 through 100 {
	.h-#{$i} {
		min-height: $i + vh;
	}

	.h-strict-#{$i} {
		height: $i + vh;
		min-height: $i + vh;
		max-height: $i + vh;
	}

	.w-#{$i} {
		width: $i + vh;
	}

	@include smx() {
		.w-smx-#{$i} {
			width: $i + vh;
		}
		.h-smx-#{$i} {
			height: $i + rem;
		}
	}

	@include sm() {
		.w-sm-#{$i} {
			width: $i + vh;
		}
		.h-sm-#{$i} {
			height: $i + rem;
		}
	}

	@include md() {
		.w-md-#{$i} {
			width: $i + vh;
		}
		.h-md-#{$i} {
			height: $i + rem;
		}
	}

	@include lg() {

		.w-lg-#{$i} {
			width: $i + vh;
		}
		.h-lg-#{$i} {
			height: $i + rem;
		}

	}
}

@for $i from 1 through 10 {


	.h-#{$i} {
		height: $i + rem;
	}
	.p-t-#{$i} {
		padding-top: $i + rem;
	}
	.p-b-#{$i} {
		padding-bottom: $i + rem;
	}
	.p-l-#{$i} {
		padding-left: $i + rem;
	}
	.p-r-#{$i} {
		padding-right: $i + rem;
	}
	.p-#{$i} {
		padding: $i + rem;
	}
	.m-t-#{$i} {
		margin-top: $i + rem;
	}
	.m-b-#{$i} {
		margin-bottom: $i + rem;
	}
	.m-l-#{$i} {
		margin-left: $i + rem;
	}
	.m-r-#{$i} {
		margin-right: $i + rem;
	}
	.m-#{$i} {
		margin: $i + rem;
	}

	@include smx() {
		.p-t-smx-#{$i} {
			padding: $i + rem;
		}
		.p-smx-#{$i} {
			padding: $i + rem;
		}
		.w-smx-#{$i} {
			width: $i + rem;
		}
		.h-smx-#{$i} {
			height: $i + rem;
		}
	}

	@include sm() {
		.p-t-sm-#{$i} {
			padding: $i + rem;
		}
		.p-sm-#{$i} {
			padding: $i + rem;
		}
		.w-sm-#{$i} {
			width: $i + rem;
		}
		.h-sm-#{$i} {
			height: $i + rem;
		}
	}

	@include md() {
		.p-t-md-#{$i} {
			padding-top: $i + rem;
		}

		.p-md-#{$i} {
			padding: $i + rem;
		}
		.w-md-#{$i} {
			width: $i + rem;
		}
		.h-md-#{$i} {
			height: $i + rem;
		}
	}

	@include lg() {
		.p-t-lg-#{$i} {
			padding-top: $i + rem;
		}
		.p-lg-#{$i} {
			padding: $i + rem;
		}
		.w-lg-#{$i} {
			width: $i + rem;
		}
		.h-lg-#{$i} {
			height: $i + rem;
		}
	}
}


.clearfix {
	@include clearfix();
}

.fix-t {
	@include fixTop();
}
.flt-l{
	@include flt-l();
}
.flt-r{
	@include flt-r();
}
.flt-none{
	@include flt-none();
}
