@import "core/config/_variables.scss";
@import "core/mixins/_mediaqueries";
@import "core/mixins/_positioning";
@import "core/mixins/_utils";


//responsive mix
@mixin responsive-mix($suffix){

	@each $type,$val in $visibility-array {
		.v-#{$val}-#{$suffix}{
			visibility: #{$type};
		}
	}
	@each $type,$val in $align-array {
		.txt-#{$val}-#{$suffix}{
			text-align: #{$type};
		}
	}
	@each $type in $valign-array {
		.valign-#{$type}-#{$suffix}{
			vertical-align:$type;
		}
	}
	@include display-suffix($suffix);
	@include fix-top-suffix($suffix);
	@include sz($suffix);
	@include txt-transform($suffix);
	@include opacity($suffix);
	@include break-word($suffix);
}

@include sz();
@include opacity();
@include break-word();

@each $weight in $txt-weight {
	.txt-#{$weight} {
		font-weight:$weight;
	}
}

@each $type in $display-types-array {
	.d-#{$type}{
		@include display($type);
	}
}

@each $transform in $txt-transform {
	.txt-#{$transform} {
		text-transform:$transform;
	}
}

@each $type in $valign-array {
	.valign-#{$type}{
		vertical-align:$type;
	}
}

@each $type,$val in $align-array {
	.txt-#{$val}{
		text-align: #{$type};
	}
}

@each $type in $pos-array {
	.pos-#{$type}{
		position: #{$type};
	}
}


//media-queries
@each $media in $media-queries-arr{

	@if $media == smx {
		@include smx() {
			@include responsive-mix($media);
		}
	 }

	 @if $media == sm {
		@include sm() {
			@include responsive-mix($media);
		}
	 }

	 @if $media == md {
		@include md() {
			@include responsive-mix($media);
		}
	}

	 @if $media == lg {
		@include lg() {
			@include responsive-mix($media);
		}
	 }
}

.flt-l{
	@include flt-l();
}
.flt-r{
	@include flt-r();
}
.flt-none{
	@include flt-none();
}
.fix-t {
	@include fixTop();
}
.clearfix {
	@include clearfix();
}

@for $i from 1 through 10 {
	.brd-radius-#{$i} {
		border-radius:#{$i}px !important;
	}
 }

 @each $bs in $brd-style {
	.brd-style-#{$bs} {
		border-style:$bs !important;
	}
}
