@import "core/config/_variables.scss";
@import "core/mixins/_mediaqueries";
@import "core/mixins/_positioning";

@mixin margin($t:0,$r:0, $b:0, $l:0){
	margin:$t+vh $r+vw $b+vh $l+vw;
}

@for $i from 0 through 100 {
	.h-#{$i} {
		min-height: $i + vh;
	}

	.m-#{$i}-vp {
		@include margin($i,$i,$i,$i);
	}
	.m-t-#{$i}-vp {
		@include margin($i);
	}
	.m-r-#{$i}-vp {
		@include margin(0,$i,0,0);
	}

	.m-b-#{$i}-vp {
		@include margin(0,0,$i,0);
	}

	.m-l-#{$i}-vp {
		@include margin(0,0,0,$i);
	}

	.h-strict-#{$i} {
		height: $i + vh;
		min-height: $i + vh;
		max-height: $i + vh;
	}

	.w-#{$i} {
		width: $i + vh;
	}

	.w-#{$i}-perc {
		width: $i#{"%"};
	}

	@include smx() {
		.w-#{$i}-smx {
			width: $i + vh;
		}
		.h-#{$i}-smx {
			height: $i + rem;
		}
		.m-#{$i}-vp-smx {
			@include margin($i,$i,$i,$i);
		}
		.m-t-#{$i}-vp-smx {
			@include margin($i);
		}
		.m-r-#{$i}-vp-smx {
			@include margin(0,$i,0,0);
		}

		.m-b-#{$i}-vp-smx {
			@include margin(0,0,$i,0);
		}

		.m-l-#{$i}-vp-smx {
			@include margin(0,0,0,$i);
		}
	}

	@include sm() {
		.m-#{$i}-vp-sm {
			@include margin($i,$i,$i,$i);
		}
		.m-t-#{$i}-vp-sm {
			@include margin($i);
		}
		.m-r-#{$i}-vp-sm {
			@include margin(0,$i,0,0);
		}

		.m-b-#{$i}-vp-sm {
			@include margin(0,0,$i,0);
		}

		.m-l-#{$i}-vp-sm {
			@include margin(0,0,0,$i);
		}
		.w-#{$i}-sm {
			width: $i + vh;
		}
		.h-#{$i}-sm {
			height: $i + rem;
		}
	}

	@include md() {
		.m-#{$i}-vp-md {
			@include margin($i,$i,$i,$i);
		}
		.m-t-#{$i}-vp-md {
			@include margin($i);
		}
		.m-r-#{$i}-vp-md {
			@include margin(0,$i,0,0);
		}

		.m-b-#{$i}-vp-md {
			@include margin(0,0,$i,0);
		}

		.m-l-#{$i}-vp-md {
			@include margin(0,0,0,$i);
		}
		.w-#{$i}-md {
			width: $i + vh;
		}
		.h-#{$i}-md {
			height: $i + rem;
		}
	}

	@include lg() {
		.m-#{$i}-lg {
			@include margin($i,$i,$i,$i);
		}
		.m-t-#{$i}-lg {
			@include margin($i);
		}
		.m-r-#{$i}-lg {
			@include margin(0,$i,0,0);
		}

		.m-b-#{$i}-lg {
			@include margin(0,0,$i,0);
		}

		.m-l-#{$i}-lg {
			@include margin(0,0,0,$i);
		}
		.w-#{$i}-lg {
			width: $i + vh;
		}
		.h-#{$i}-lg {
			height: $i + rem;
		}
	}
}

@for $i from 0 through 10 {

	.h-#{$i} {
		height: $i + rem;
	}
	.p-t-#{$i} {
		padding-top: $i + rem;
	}
	.p-b-#{$i} {
		padding-bottom: $i + rem;
	}
	.p-l-#{$i} {
		padding-left: $i + rem;
	}
	.p-r-#{$i} {
		padding-right: $i + rem;
	}
	.p-#{$i} {
		padding: $i + rem;
	}
	.m-t-#{$i} {
		margin-top: $i + rem;
	}
	.m-b-#{$i} {
		margin-bottom: $i + rem;
	}
	.m-l-#{$i} {
		margin-left: $i + rem;
	}
	.m-r-#{$i} {
		margin-right: $i + rem;
	}
	.m-#{$i} {
		margin: $i + rem;
	}

	@include smx() {
		.p-t-#{$i}-smx {
			padding: $i + rem;
		}
		.p-#{$i}-smx {
			padding: $i + rem;
		}
		.h-#{$i}-smx {
			height: $i + rem;
		}
	}

	@include sm() {
		.p-t-#{$i}-sm {
			padding: $i + rem;
		}
		.p-#{$i}-sm {
			padding: $i + rem;
		}
		.h-#{$i}-sm {
			height: $i + rem;
		}
	}

	@include md() {
		.p-t-#{$i}-md {
			padding-top: $i + rem;
		}

		.p-#{$i}-md {
			padding: $i + rem;
		}
		.h-#{$i}-md {
			height: $i + rem;
		}
	}

	@include lg() {
		.p-t-#{$i}-lg {
			padding-top: $i + rem;
		}
		.p-#{$i}-lg {
			padding: $i + rem;
		}
		.h-#{$i}-lg {
			height: $i + rem;
		}
	}
}
