@import "core/config/_variables.scss";
@import "core/mixins/_mediaqueries";
@import "core/mixins/_positioning";
@import "core/mixins/_utils";

@include sz();
@include opacity();

@each $weight in $txt-weight {
	.txt-#{$weight} {
		font-weight:$weight;
	}
}

@each $type in $display-types-array {
	.d-#{$type}{
		@include display($type);
	}
}

@each $transform in $txt-transform {
	.txt-#{$transform} {
		text-transform:$transform;
	}
}

@each $type in $valign-array {
	.valign-#{$type}{
		vertical-align:$type;
	}
}

@each $type,$val in $align-array {
	.txt-#{$val}{
		text-align: #{$type};
	}
}

@each $type in $pos-array {
	.pos-#{$type}{
		position: #{$type};
	}
}

//media-queries
@each $media in $media-queries-arr{

	@if $media == smx {
		@include smx() {
			@include responsive-mix($media);
		}
	 }

	 @if $media == sm {
		@include sm() {
			@include responsive-mix($media);
		}
	 }

	 @if $media == md {
		@include md() {
			@include responsive-mix($media);
		}
	}

	 @if $media == lg {
		@include lg() {
			@include responsive-mix($media);
		}
	 }
}

.flt-l{
	@include flt-l();
}
.flt-r{
	@include flt-r();
}
.flt-none{
	@include flt-none();
}
.fix-t {
	@include fixTop();
}
.clearfix {
	@include clearfix();
}
